// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//------------ MINIMALE UND MAXIMALE GRÖSSE --------------------------//

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }

// ---------------------------- 3 CONTAINER AUF DER ERSTEN SEITE ----------------------------------//

.index-title {
    font-size: xx-large;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
  
  .box {
    border: 1px solid #000;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .menu-box {
    border: 1px solid #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .box:first-child,
  .box:nth-child(2) {
    border-radius: 0;
  }
  
  .rounded-box {
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 767.98px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  